<div class="hero">
  <div class="hero-inner">

    <a href="" class="hero-logo"> <%= image_tag "ship.gif" %>
</a>
    <div class="hero-copy">
      <h1>Welcome Hacker Pirates!</h1>
      <p>We have Tons Of Tech Treasure To Be Found!</p>
    </div>
  </div>
</div>


