<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Hey Hacker Pirates!</h1>
      <p>Tons of tech treasure to be found!</p>
    </div>
  </div>
</div>
