<div class="hero">
  <div class="hero-inner">

    <a href="" class="hero-logo"> <%= image_tag "ship.gif" %>
</a>
    <div class="hero-copy">
      <h1>Hey Hacker Pirates!</h1>
      <p>Tons of tech treasure to be found!</p>
    </div>
  </div>
</div>


