
<% @questions.each do |q| %>
<div class="comment">
  <div class="comment-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="comment-content">
    <h1><%=q.title%></h1>
    </div>
</div>
<%end%>
