
<% @questions.each do |q| %>
<div class="comment">
  <div class="comment-content">
    <% @q = q%>
    <%=render 'stats', object:@q %>
    <%= link_to("#{q.title}", question_path(q))%>
    </div>
</div>
<%end%>


