<div class="stats">
  <ul>
    <li><%=votes[q.id]%><span>votes</span></li>
    <li><%= q.answers.length%><span>answers</span></li>
    <li><%= q.comments.length %><span>comments</span></li>
   </ul>
</div>
