<h1>Pirate Overflow</h1>
<% if session[:user_id] %>

  <%= link_to('Logout', logout_path, :method => :delete) %>

<% else %>
  <div><%= link_to('Login', login_path)  %></div>
  <div><%= link_to('Signup', signup_path) %></div>
<% end %>


